*.classpath
*.project
*/.settings/*
*/.idea/*
*/target/*
*/*/target/*
*/*/*/target/*
*/test-output/*
*/activemq-data/*
*/JArchitectOut/*
/demo/lib/*
*.iml
*.jdproj
*.log
*.exe
*/.gradle/
*/*/docker/*.jar