<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme.css"/>
</h:head>
<h:body>
    <ui:composition template="/pages/layout/template.xhtml">
        <ui:define name="main">
            <h:form id="formPrincipal">
                <p:panel id="clientePet" columns="2" width="100%" header="Cliente - Pet" style="font-size: 12px;">
                    <h:panelGrid columns="2" width="100%">
                        <p:dataTable id="clientesTable"
                                     var="cliente"
                                     value="#{tableBean.clientes}"
                                     rowKey="#{cliente.model}"
                                     paginator="true" rows="5"
                                     tableStyle="font-size: 12px;"
                                     selection="#{tableBean.selectedCliente}"
                                     selectionMode="single">
                            <p:ajax event="rowSelect" update=":formPrincipal:foto :formPrincipal:informacoes"/>
                            <p:column headerText="Nome Cliente" sortBy="#{cliente.nome}" filterBy="#{cliente.nome}"
                                      id="nome">
                                #{cliente.nome}
                            </p:column>
                            <p:column headerText="Nome Pet" sortBy="#{cliente.nomePet}" filterBy="#{cliente.nomePet}"
                                      id="nomePet">
                                #{cliente.nomePet}
                            </p:column>
                        </p:dataTable>
                        <p:graphicImage value="/images/pets/#{tableBean.selectedCliente.nomePet}.jpg" id="foto"/>
                    </h:panelGrid>
                </p:panel>
                <p:panel id="informacoes" columns="2" width="100%" header="Informações" style="font-size: 12px;">
                    <h:outputText value="Nome Cliente: "/>
                    <h:outputText value="#{tableBean.selectedCliente.nome}"/>
                    <br/> <br/>
                    <h:outputText value="Nome Pet: "/>
                    <h:outputText value="#{tableBean.selectedCliente.nomePet}"/>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>